.formReusable{
    form{
        @include divContainer($gray, 80%, 80%, $brRad: 2rem);
        color: set-bkgnd-clr($gray);
        font-size: $medFont;
        margin: 1rem auto;
        padding: 2em;
        max-width: 800px;
    }
    input{
        max-width: 500px;
    }
    select{
        max-width: 300px;
    }
    .form-check{
        font-size: $smFont;
    }
 
}