$orange: orange;
$blue: blue;
$gray: gray;
$white: white;
$yellow: yellow;
$red: red;
$green:green;
$lightGrayTransparent:  rgba(66, 65, 65, 0.6);
$darkGrayTransparent: rgba(34, 33, 33, 0.6);
$darkRed: rgba(93, 2, 2, 0.7);