$orange: orange;
$blue: blue;
$gray: gray;
$white: white;
$yellow: yellow;
$red: rgb(167, 20, 20);
$green:green;
$dark: rgb(37, 37, 37);
$lightGrayTransparent:  rgba(66, 65, 65, 0.6);
$darkGrayTransparent: rgba(34, 33, 33, 0.6);
$darkRed: rgba(93, 2, 2, 0.7);
//font sizes
$xsmFont: 0.8rem;
$smFont: 1.1rem;
$medFont: 1.4rem;
$largeFont: 1.8rem;
$xlargeFort: 2.5rem;